{% extends 'base.html' %}

{% block content %}

<!-- filter and search -->
<div class="row">
    <form action="/accounts" method="get" id="account-form">
        <!-- vehicle sn search -->
        <div class="col-lg-3" style="width:30%; float: left;padding-left: 20px;">
            <div class="input-group">
                <input type="search" id="account-sn-search" name="vehicle_sn" class="form-control"
                       placeholder="搜索：通过车辆编号" {% if vehicle_sn %} value={{ vehicle_sn }} {% endif %}
                       style="font-size: 12px;height: 32px;">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="account-search-btn"
                                style="font-size: 12px;height: 32px;border-radius: 0; ">搜索</button>
                    </span>
                {% if vehicle_sn %}
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="account-message-close"
                                style="font-size: 12px;height: 32px;display: inline">清空</button>
                    </span>
                {% endif %}
            </div>
        </div>
    </form>
</div>

<!-- blank div -->
<div style="height: 60px; width: 100%">
</div>

<!-- The comment on the modal box -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="accountModalLabel">user</h4>
            </div>
            <form>
                <div class="modal-body">
                    <p style="text-align: center">
                        <label for="action-name" class="action-label">你确定要禁用这个用户吗?</label>
                    </p>
                    <p>
                        <span style="font-weight:bold">基本信息</span>
                        <span class="verhicle-sn" style="display: block">车辆信息</span>
                        <span class="com-name" style="display: block">公司名字</span>
                        <span class="com-email" style="display: block">公司邮箱</span>
                        <span class="bos-name" style="display: block">BOS名字</span>
                        <span class="bos-region" style="display: block">BOS区域</span>
                        <span class="account-status" style="display: block">账号状态</span>
                    </p>
                    <p style="color: rgb(175, 175, 175)" class="comment-title"></p>
                    <p><span style="color: red">*</span>备注：
                        <textarea id="account-comment-text" cols="25" rows="1" style="line-height: 25px" required></textarea>
                    </p>
                    <p id="comments-error" style="display: none"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn-account-action btn btn-primary">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- edit dialog -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editModalLabel">修改服务信息</h4>
            </div>
                <div class="modal-body">
                    <div>
                    </div>
                    <div style="display: none">
                        <div id="package-div">
                            <input name="chose_package" type='checkbox' value="Disabled"><span>如果客户购买了一个新的服务，请选择</span>
                        </div>
                        <div class="btn-group">
                            <select name="service_package" class="form-control"
                                    style="height:30px; font-size: 12px" id="package-select" disabled>
                                <option value="TO" style="font-size: 12px" selected> 试用包</option>
                                <option value="OY" style="font-size: 12px"> 一年包</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel_account btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="edit_quota btn btn-primary">修改</button>
                </div>
        </div>
    </div>
</div>


<!-- search message and update message -->
{% if vehicle_sn %}
<p>
            <span id="account-filter-message"
                  style="color:red"> 通过车辆编号{{ vehicle_sn }}搜索出以下结果：
            </span>
</p>
{% endif %}

<!-- account message -->
<div id="messageBar" style="color:red; display: none">
   <span class="message"></span>
   <span class="icon glyphicon glyphicon-remove"></span>
</div>

<!-- The table of job list -->
<table class="table table-hover">
    <tr>
        <th>车辆编号</th>
        <th>公司名称</th>
        <th>公司邮箱</th>
        <th>bucket名称</th>
        <th>bucket区域</th>
        <th>账户状态</th>
        <th>申请时间</th>
        <th>截止时间</th>
        <th>使用配额</th>
        <th>剩余配额</th>
        <th>动作</th>
        <th>展开/收起</th>
    </tr>
    {% for account in account_list %}
    <tr>
        <td>{{ account.vehicle_sn }}</td>
        <td>{{ account.com_name }}</td>
        <td>{{ account.com_email }}</td>
        <td>{{ account.bos_bucker_name }}</td>
        <td>{{ account.bos_region | show_account_region }}</td>
        <td id="status-{{ account._id }}">{{ account.status | show_account_status }}</td>
        <td>{{ account.apply_date }}</td>
        <td id="due-date-{{ account._id }}">{{ account.due_date }}</td>
        <td id="used-{{ account._id }}">{{ account.used }}</td>
        <td id="remaining-{{ account._id }}">{{ account.remaining_quota}}</td>
        <td>
            {% for action in account.show_action %}
                {% if action == "Edit" %}
                <a style="width: 100%" id="edit-action-{{ account._id }}" class="account-edit-modal" data-toggle="modal"
                   data-target="#editModal" data-account-services="{{account.services}}" data-account-id="{{account._id}}">
                    {{ action | show_account_action }}
                </a>
                {% elif action == "Reject" %}
                <a style="width: 100%" id="button-reject-{{ account._id }}" class="account-modal" data-toggle="modal"
                   data-target="#accountModal" data-label="{{ action }}" data-verhicle_sn="{{ account.vehicle_sn }}"
                   data-com_name="{{ account.com_name }}" data-com_email="{{ account.com_email }}"
                   data-bos_bucker_name="{{ account.bos_bucker_name }}" data-bos_region="{{ account.bos_region }}"
                   data-account_status="{{ account.status }}" data-account_id="{{ account._id }}"
                   data-first_status="{{ account.status }}" data-account-services="{{account.services}}">
                    {{ action | show_account_action }}
                </a>
                {% else %}
                <a style="width: 100%" id="button-action-{{ account._id }}" class="account-modal" data-toggle="modal"
                   data-target="#accountModal" data-label="{{ action }}" data-verhicle_sn="{{ account.vehicle_sn }}"
                   data-com_name="{{ account.com_name }}" data-com_email="{{ account.com_email }}"
                   data-bos_bucker_name="{{ account.bos_bucker_name }}" data-bos_region="{{ account.bos_region }}"
                   data-account_status="{{ account.status }}" data-account_id="{{ account._id }}"
                   data-first_status="{{ account.status }}" data-account-services="{{account.services}}">
                    {{ action | show_account_action }}
                </a>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <a id="expand-{{ account._id }}" class="account_expand" style="display: inline">展开</a>
            <a id="collapse-{{ account._id }}" class="account_collapse" style="display: none">收起</a>
        </td>
    </tr>

    <!-- The service information -->
    <tr style="display: none" id="service-tr-{{ account._id }}">
        <td align="left" colspan="12"><b>服务信息:</b></td>
    </tr>

    {% for se in account.services %}
    <tr style="display: none" class="service_span">
        <td colspan="12" style="border-top: none">
            {{se.job_type | show_type }}:{{se.status | show_account_status}} 已使用:{{se.used}}
        </td>
    </tr>
    {% endfor %}

    <tr style="display: none" id="operation-tr-{{account._id}}">
        <td align="left" colspan="12"><b>操作历史：</b></td>
    </tr>

    <!-- The history record of account operation -->
    {% for opt in account.operations %}
        {% if opt.action.status %}
        <tr style="display: none" class="account_operation_span">
            <td colspan="12" style="border-top: none">
                {% if opt.action.status.0 %}
                {{ opt.action.type.0 | show_type }}服务{{ opt.action.status.0 | show_account_status }}。
                {% endif %}
                {% if opt.action.status.1 %}
                {{ opt.action.type.1 | show_type }}服务{{ opt.action.status.1 | show_account_status }}。
                {% endif %}
                {% if opt.action.status.2 %}
                {{ opt.action.type.2 | show_type }}服务{{ opt.action.status.2 | show_account_status }}。
                {% endif %}
                {% if opt.action.status.3 %}
                {{ opt.action.type.3 | show_type }}服务{{ opt.action.status.3 | show_account_status }}。
                {% endif %}
                {% if opt.action.remaining_quota %}
                剩余配额设置为{{ opt.action.remaining_quota}}，截止日期设置为{{ opt.action.due_date }}。
                {% endif %}
                操作员{{opt.email}}于{{ opt.time }}操作。
                {% if opt.comments %}
                备注：{{opt.comments}}。
                {% endif %}
            </td>
        </tr>
        {% elif opt.action.type and not opt.action.remaining_quota %}
        <tr style="display: none" class="account_operation_span">
            <td colspan="12" style="border-top: none">
                {% if opt.action.type %}
                用户账号在{{ opt.time }}被{{ opt.email }}{{ opt.action.type | show_account_action }}。备注：{{ opt.comments }}。
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}

    <tr class="account_flag" id="flag-{{ account._id }}"></tr>
    {% endfor %}
</table>

<!-- The pagination -->
<div id="bagin">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if current_page.has_previous() %}
            <li class="previous">
                <a href="?{% if vehicle_sn %}vehicle_sn={{ vehicle_sn }}&{% endif %}page={{ current_page.previous_page_number() }}"
                   aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            {% else %}
            <li class="previous disabled">
                <a href="#">上一页</a>
            </li>
            {% endif %}
            {% for i in current_page.page_nums() %}
            {% if i == current_page.current_page %}
            <li class="active"><a
                    href="?{% if vehicle_sn %}vehicle_sn={{ vehicle_sn }}&{% endif %}page={{ i }}">{{ i }}</a>
            </li>
            {% else %}
            <li>
                <a href="?{% if vehicle_sn %}vehicle_sn={{ vehicle_sn }}&{% endif %}page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if current_page.has_next() %}
            <li class="next">
                <a href="?{% if vehicle_sn %}vehicle_sn={{ vehicle_sn }}&{% endif %}page={{ current_page.next_page_number() }}"
                   aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>
            {% else %}
            <li class="next disabled">
                <a href="#" aria-label="Next">下一页</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
