# bazelrc file
# https://docs.bazel.build/versions/master/user-manual.html
# https://docs.bazel.build/versions/master/command-line-reference.html

try-import %workspace%/local/user.bazelrc

build --build_python_zip
build --spawn_strategy=standalone
