{% extends "base.html" %}

{% block head %}
<title>Apollo Fuel Portal</title>
{% endblock %}

{% block container %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Apollo Fuel</h1>
  <p class="lead">Apollo Fuel is an SaaS for Autonomous Vehicles.</p>
  <hr class="my-4">
  <p style="color:#FF0000";>
    Apollo Fuel is moved to a new site. The current page will sunset by the middle of September. <br>
    Please follow this <a target="_blank" href="http://ufo.baidu.com/listen/myhistory?type=commonQA&product_line=90965&appid=240308#?qid=185">guide</a> to migrate to the new site. <br>
    Any questions, please contact our BD team. <br> 
  </p>
  <a class="btn btn-primary btn-lg" target="_blank" href="mailto:idg-apollo@baidu.com" role="button">
    Contact us
  </a>
</div>

{% endblock %}
