{% extends "base.html" %}

{% block head %}
<title>Apollo Fuel Portal</title>
{% endblock %}

{% block container %}

<div class="jumbotron">
  <h1 class="display-4">Welcome to Apollo Fuel</h1>
  <p class="lead">Apollo Fuel is an SaaS for Autonomous Vehicles. [Still in development, no HTTPS, use at your own risk!]</p>
  <hr class="my-4">
  <p>
    To use this platform, you must have a partner account with us.
    Please contact our BD team to set it up.
  </p>
  <a class="btn btn-primary btn-lg" target="_blank" href="mailto:idg-apollo@baidu.com" role="button">
    Contact us
  </a>
</div>

{% endblock %}
