#sidebar-wrapper{
    background: rgb(240, 240, 240);
    width: 10%;
    float: left;
}

.content{
    font-size: 12px;
}

.jobs-table{
    float: right;
    width: 88%;
    font-size: 12px;
}

.filter-option{
    font-size: 12px;
}

.tooltip-inner{
    max-width: 300px;
    text-align:left
}
