{% extends "base.html" %}

{% block head %}

<title>Apollo Fuel - Pod Log</title>
<link href="{{ url_for('static',filename='styles/ansi2html.css') }}" rel="stylesheet" type="text/css"/>
<style>
   #log-container {
    height: 800px;
    overflow-x: scroll;
    padding: 10px;
    background-color: #000000;
   }
   pre {
     white-space: pre-wrap;
     word-wrap: break-word;
     padding: 0; 
     margin: 0;
     font-weight: normal; 
     color: #AAAAAA; 
     background-color: #000000;
     border: None;
   }
</style>
{% endblock %}

{% block body %}
<a style="display:none" id="pod_log_streaming_url" href="{{ url_for('pod_log_streaming_hdl', pod_name=pod_name, namespace=namespace) }}"></a>
<a style="display:none" id="spark_history_url">{{ spark_history_url }}</a>
<div class="panel panel-default">
   <div class="panel-heading">logs - {{ pod_name }}</div>
   <div class="spark-ui" style="padding:10px;display:none;">
      SparkUI: <a id="spark-ui" target="_blank"></a>
   </div>
   <div class="panel-body">
      <div id="log-container">
           <pre></pre>
      </div>
   </div>
</div>

<script type="text/javascript">
    var last_response_len = false;
    var logs = $("#log-container");
    $.ajax($("#pod_log_streaming_url").attr('href'), {
        xhrFields: {
            onprogress: function(e)
            {
                var this_response, response = e.currentTarget.response;
                if(last_response_len === false)
                {
                    this_response = response;
                    last_response_len = response.length;
                }
                else
                {
                    this_response = response.substring(last_response_len);
                    last_response_len = response.length;
                }
                $("#log-container pre").append(this_response);
                $("#log-container").scrollTop($("#log-container pre").height() - $("#log-container").height() + 10);
                // Extract spark-ui address from driver log
                if($("div.panel-heading").text().indexOf("driver") >= 0 && $("#spark-ui").text() == ""){
                    var spark_ui_addr_tpl = "http://usa-data.baidu.com:8001/api/v1/namespaces/default/services/http:spark-SPARKID-driver-svc:4040/proxy";
                    var regex = /http:\/\/spark-(\d+)-driver-svc\.default\.svc:4040/;
                    var query_spark_id = regex.exec($("#log-container pre").text());
                    if(query_spark_id && query_spark_id.length > 0){
                     var spark_ui_addr = spark_ui_addr_tpl.replace("SPARKID",query_spark_id[1]);
                     $("#spark-ui").attr("href", spark_ui_addr);
                     $("#spark-ui").text(spark_ui_addr);
                     $(".spark-ui").css("display","block");
                    }
                }
            }
        }
    })
    .done(function(data)
    {
        console.log('Complete response = ' + data);
        // Replace spark-ui running url with history server url
        // If the logs doesn't contain a SparkUI url, this zone will not be displayed
        var spark_ui_addr = $("#spark_history_url").text();
        if(spark_ui_addr.length > 0){
          $("#spark-ui").attr("href", spark_ui_addr);
          $("#spark-ui").text(spark_ui_addr);
        }
    })
    .fail(function(data)
    {
        console.log('Error: ', data);
    });
    console.log('Request Sent');
</script>
{% endblock %}
