{% extends "base.html" %}

{% block head %}

<title>Apollo Fuel - Jobs</title>
<style>
  .green {color: green;}
  .red {color: red;}
  .text_center {text-align: center;}
</style>
{% endblock %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Information</div>
  <div class="panel-body">
   <table class="table table-striped">
      <thead>
        <tr>
          <th>Namespace</th>
          <th>Name</th>
          <th>Owner</th>
          <th>Phase</th>
          <th>Begin Time</th>
          <th>Duration(hh:mm:ss)</th>
          <th>Logs</th>
        </tr>
      </thead>
      <tbody>
        {% for pod in pod_list %}
            <tr>
              <td>{{ pod.namespace }}</td>
              <td>{{ pod.name }}</td>
              <td>{{ pod.owner }}</td>
              <td>{{ pod.phase }}</td>
              <td>{{ pod.creation_timestamp | timestamp_to_time }}</td>
              <td>{{ pod.duration_ns | ns_to_duration }}</td>
              <td><a href="{{ url_for('pod_log_hdl', pod_name=pod.name, namespace=pod.namespace) }}">logs</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}


